<div class="message_form_content">
  <h1>New message</h1>
  <form action="/new-message" method="POST">
    <input name="message" type="text" />
    <button class="new_message_btn">Post</button>
  </form>
</div>