<div class="message_form_content">
  <h1>New message</h1>
  <form action="/new-message" method="POST">
    <label for="message">Message</label>
    <input name="message" type="text" />
    <button>Post new message</button>
  </form>
</div>