<div class="message">
  <div class="message_details">
    <% if (user) {%>
      <h2 class="message_name"><%= messages[index].name %></h2>
      <div class="date_and_time">
        <p class="message_date"><%= messages[index].date_formatted %></p>
        <p class="message_time"><%= messages[index].time_formatted %></p>
      </div>
    <% } else { %>
      <h2 class="no_name">Some random:</h2>
      <div class="date_and_time">
        <p class="no_date">Dec 31, 1999</p>
        <p class="no_time">23:59 UTC</p>
      </div>
    <% } %>
  </div>
  <div class="message_text">
    <p><%=messages[index].message%></p>
  </div>
</div>