<div class="message_form_content">
  <form action="/new-message" method="POST">
    <div class="new_message_btn_div">
      <button class="new_message_btn">Send</button>
    </div>
    <textarea class="message_box" name="message" placeholder="Add your new message here..."></textarea> 
  </form>
</div>