<div class="sign_in__content">
  <h1 class="sign_in_title">Login</h1>
  <form action="/log-in" id="sign_in_form" method="POST">
    <input class="sign_in_username" name="username" placeholder="Username" type="text" />
    <input class="sign_in_password" name="password" placeholder="Password" type="password" />
    <button>Log In</button>
  </form>
</div>