<div class="sign_in__content">
  <h1>Sign up</h1>
  <form action="/sign-up" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" />
    <label for="password">Password</label>
    <input type="password" name="password" type="password" />
    <button>Sign Up</button>
  </form>
</div>
