<div class="sign_in__content">
  <h1>please log in</h1>
  <form action="/log-in" id="sign_in_form" method="POST">
    <input name="username" placeholder="username" type="text" />
    <input name="password" placeholder="password" type="password" />
    <button>Log In</button>
  </form>
</div>