body {
  background-color: #F5BE49;
}

.main_top {
  height: 18px;
  width: 400px;
  background-color: #fff;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 9px 7px 0px 0px #000000;
}

.main_top__icons {
  height: 18px;
}

.main_header {
  background-color: #fff;
  height: 200px;
  width: 400px;
  box-shadow: 9px 7px 0px 0px #000000;
  border: 2px solid #000000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main_header__text {
  font-size: 64px;
  margin: 8px 12px 12px 8px;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}